<web-app version="4.0" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>LadonEdgeAnswerServlet</servlet-name>
        <display-name>Ladon FHIR Servlet</display-name>
        <servlet-class>net.fhirfactory.pegacorn.ladon.edge.answer.servlet.EdgeAnswerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LadonEdgeAnswerServlet</servlet-name>
        <url-pattern>/pegacorn/fhir/r4/*</url-pattern>
    </servlet-mapping>

</web-app>